@media screen and (min-width: 1024px) {
    div {
        width: 33%;
        height: 300px;
    }

    #square1 {
        background-color: red;
    }

    #square2 {
        background-color: green;
    }

    #square3{
        background-color: orange;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    div {
        width: 50%;
        height: 300px;
    }

    #square1 {
        background-color: red;
    }

    #square2 {
        background-color: green;
    }

    #square3{
        background-color: orange;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    div {
        width: 100%;
        height: 300px;
    }

    #square1 {
        background-color: red;
    }

    #square2 {
        background-color: green;
    }

    #square3{
        background-color: orange;
    }
}